@font-face
    font-family: 'Poppins'
    src: url('/fonts/poppins.woff2') format('woff2'),url('/dist/fonts/poppins.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: swap;
@font-face
    font-family: 'Montserrat'
    src: url('/fonts/montserrat.woff2') format('woff2'),url('/dist/fonts/montserrat.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: swap;
