@import url('https://cdn.ilearned.eu/fonts/poppins/"https://cdn.ilearned.eu/fonts/poppins/poppins.css")
/* poppins-regular-latin */
@font-face
	font-family: 'Poppins'
	font-style: normal
	font-weight: 400
	src: local("Poppins Regular"), local("Poppins-Regular"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-regular-latin.woff2') format("woff2"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-regular-latin.woff') format("woff")
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215
	font-display: swap

/* poppins-regular-latin-ext */
@font-face
	font-family: 'Poppins'
	font-style: normal
	font-weight: 400
	src: local("Poppins Regular"), local("Poppins-Regular"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-regular-latin-ext.woff2') format("woff2"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-regular-latin-ext.woff') format("woff")
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF
	font-display: swap

/* poppins-medium-latin */
@font-face
	font-family: 'Poppins'
	font-style: normal
	font-weight: 500
	src: local("Poppins Medium"), local("Poppins-Medium"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-medium-latin.woff2') format("woff2"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-medium-latin.woff') format("woff")
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215
	font-display: swap

/* poppins-medium-latin-ext */
@font-face
	font-family: 'Poppins'
	font-style: normal
	font-weight: 500
	src: local("Poppins Medium"), local("Poppins-Medium"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-medium-latin-ext.woff2') format("woff2"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-medium-latin-ext.woff') format("woff")
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF
	font-display: swap

/* poppins-semibold-latin */
@font-face
	font-family: 'Poppins'
	font-style: normal
	font-weight: 600
	src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-semibold-latin.woff2') format("woff2"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-semibold-latin.woff') format("woff")
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215
	font-display: swap

/* poppins-semibold-latin-ext */
@font-face
	font-family: 'Poppins'
	font-style: normal
	font-weight: 600
	src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-semibold-latin-ext.woff2') format("woff2"), url('https://cdn.ilearned.eu/fonts/poppins/poppins-semibold-latin-ext.woff') format("woff")
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF
	font-display: swap

@font-face
    font-family: 'Montserrat'
    src: url('https://cdn.ilearned.eu/fonts/montserrat.woff2') format('woff2'),url('https://cdn.ilearned.eu/fonts/montserrat.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: swap
