\:root
  --cta-lighter-color: #D67E7E
  --cta-light-color: #DB5D5D
  --cta-normal-color: #D83D3D
  --cta-dark-color: #973333
  --bg-color: #292948
  --secondary-bg-color: #171732
  --darker-bg-color: #0f0f24
  --text-color: #ffffff
  --card-shadow-color: #000
  --card-border-color: #56566f

@media (prefers-color-scheme: light)
  \:root
    --cta-lighter-color: #D67E7E
    --cta-light-color: #DB5D5D
    --cta-normal-color: #D83D3D
    --cta-dark-color: #973333
    --bg-color: #F5F5F5
    --secondary-bg-color: #FFFFFF
    --darker-bg-color: #DDDDDD
    --text-color: #111111
    --card-shadow-color: #CCC
    --card-border-color: #9c9cae
