.btn
    display: block
    border: none
    font-size: 18px
    padding: 15px 33px
    border-radius: 14px
    width: max-content
    margin-bottom: 4px
    &-primary
        background-color: var(--cta-2-color)
        box-shadow: 4px 4px 0px var(--cta-3-color)
        color: #fff

    &-secondary
        background-color: var(--secondary-bg-color)
        box-shadow: 4px 4px 0px var(--darker-bg-color)
        color: var(--text-color)
    &:hover
        cursor: pointer
        box-shadow: none
        transition: 0.1s
        transform: translate(4px, 4px)
