.card
  background: var(--bg-blue-90-color)
  box-shadow: 10px 10px 0px var(--bg-blue-120-color), 10px 10px 0px 3px var(--bg-blue-130-color), 7px 7px 15px 3px hsl(0, 0%, 70%)
  border: 3px solid var(--bg-blue-130-color)
  border-radius: 12px
  max-width: 700px
  margin: 0 13.5px 10px 0
